<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataOfGeoPasterTemplates</key>
	<array>
		<dict>
			<key>FileName</key>
			<string>createdTrianglePaster.png</string>
			<key>Type</key>
			<integer>0</integer>
			<key>X</key>
			<integer>28</integer>
			<key>Y</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>FileName</key>
			<string>createdTrapeziumPaster.png</string>
			<key>Type</key>
			<integer>1</integer>
			<key>X</key>
			<integer>141</integer>
			<key>Y</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>FileName</key>
			<string>createdEllipsePaster.png</string>
			<key>Type</key>
			<integer>2</integer>
			<key>X</key>
			<integer>254</integer>
			<key>Y</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>FileName</key>
			<string>createdPentaclePaster.png</string>
			<key>Type</key>
			<integer>3</integer>
			<key>X</key>
			<integer>367</integer>
			<key>Y</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>FileName</key>
			<string>createdCirclePaster.png</string>
			<key>Type</key>
			<integer>4</integer>
			<key>X</key>
			<integer>480</integer>
			<key>Y</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>FileName</key>
			<string>createdSquarePaster.png</string>
			<key>Type</key>
			<integer>5</integer>
			<key>X</key>
			<integer>593</integer>
			<key>Y</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>FileName</key>
			<string>createdRectanglePaster.png</string>
			<key>Type</key>
			<integer>6</integer>
			<key>X</key>
			<integer>706</integer>
			<key>Y</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>FileName</key>
			<string>createGeometryPasterButton.png</string>
			<key>Type</key>
			<integer>6</integer>
			<key>X</key>
			<integer>819</integer>
			<key>Y</key>
			<integer>35</integer>
		</dict>
	</array>
</dict>
</plist>
