<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataOfGeoTemplates</key>
	<array>
		<dict>
			<key>Alpha</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Red</key>
			<integer>0</integer>
			<key>Type</key>
			<integer>0</integer>
			<key>FileName</key>
			<string>createTrianglePasterButton.png</string>
		</dict>
		<dict>
			<key>Alpha</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Red</key>
			<integer>0</integer>
			<key>Type</key>
			<integer>1</integer>
			<key>FileName</key>
			<string>createTrapeziumPasterButton.png</string>
		</dict>
		<dict>
			<key>Alpha</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Red</key>
			<integer>0</integer>
			<key>Type</key>
			<integer>2</integer>
			<key>FileName</key>
			<string>createEllipsePasterButton.png</string>
		</dict>
		<dict>
			<key>Alpha</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Red</key>
			<integer>0</integer>
			<key>Type</key>
			<integer>3</integer>
			<key>FileName</key>
			<string>createPentaclePasterButton.png</string>
		</dict>
		<dict>
			<key>Alpha</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Red</key>
			<integer>0</integer>
			<key>Type</key>
			<integer>4</integer>
			<key>FileName</key>
			<string>createCirclePasterButton.png</string>
		</dict>
		<dict>
			<key>Alpha</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Red</key>
			<integer>0</integer>
			<key>Type</key>
			<integer>5</integer>
			<key>FileName</key>
			<string>createRectanglePasterButton.png</string>
		</dict>
		<dict>
			<key>Alpha</key>
			<integer>0</integer>
			<key>Blue</key>
			<integer>0</integer>
			<key>Green</key>
			<integer>0</integer>
			<key>Red</key>
			<integer>0</integer>
			<key>Type</key>
			<integer>6</integer>
			<key>FileName</key>
			<string>createSquarePasterButton.png</string>
		</dict>
	</array>
</dict>
</plist>
